[Unit]
Description=Telegram aiogram_bot "bpropuskov"
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/bot_1
ExecStart=/usr/bin/python3 /usr/local/bin/bot_1/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target